.Feed {
  width: 900px;
  margin-right: 10px;
  background-color: #ffffff;
  border: 1px solid lightgray;
  .post {
    display: flex;
    flex-direction: column;
    .edit-group {
      height: 50px;
      display: flex;
      justify-content: space-between;
      .editor {
        display: flex;
        align-items: center;
      }
    }
    .contents-info {
      padding: 5px;
      border-bottom: 1px solid lightgray;
      .display-comment li {
        display: flex;
        align-items: center;
        .text {
          margin-left: 10px;
        }
        .material-symbols-outlined {
          margin: 0 0 0 auto;
        }
      }
      .like {
        display: flex;
        align-items: center;
      }
      .main-message {
        display: flex;
        align-items: center;
      }
      .main-message a {
        text-decoration: none;
        margin-right: 10px;
        color: black;
      }
      .info {
        color: gray;
      }
      .material-symbols-outlined:hover {
        cursor: pointer;
      }
    }
    .leave-comment {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .leave-comment input {
      width: 95%;
      border: 0;
    }
  }
}
