.user-comment {
  width: 450px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 20px;
  padding-bottom: 5px;
}

.comment-right {
  height: 20px;
  display: flex;
  align-items: center;
}

.username {
  font-weight: 800;
  cursor: pointer;
}

.delete-comment-btn {
  position: relative;
  top: 1px;
  border: 0;
  width: 50px;
  height: 20px;
  font-size: 16px;
  background-color: transparent;
  color: black;
  cursor: pointer;
}
