$theme-background-color: rgba(249, 247, 247, 0.872);
$theme-border-line: 1px solid rgb(234, 230, 230);
$theme-color: #0095f6;
$font-size: 10px;
$font-size-span: 10px;
$font-size-logo: 20px;
$font-size-id: 12px;
$font-size-underId: 12px;
$font-size-content: 12px;
$font-size-header: 12px;

@mixin flex-vh-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-v-center {
	display: flex;
	align-items: center;
}

@mixin flex-h-center {
	display: flex;
	justify-content: center;
}

@mixin flex-direction-column {
	display: flex;
	flex-direction: column;

}

html, body, #root {
	margin: 0;
}

.main-page {
	height: 100vh;
}

body.main-body {
	margin: 0;
	background-color: $theme-background-color;
}

.main-container {
	@include flex-direction-column()
	
}

nav {
	background-color: white;
	border-bottom: $theme-border-line;

}

.nav-content {
	@include flex-v-center;
	justify-content: space-between;
	margin: 15px 20px;
}

.nav-left {
	@include flex-v-center;
}

.nav-center {
	position: relative;
	@include flex-v-center;
}
.nav-right {
	@include flex-v-center;
}

.icon-insta {
	width: 20px;
	border-right: 1px solid black;
	padding: 0 8px 0 0;
}

.nav-left {
	span {
	font-family: 'Lobster', cursive;
	font-size: $font-size-logo;
	text-align: center;
}
}

.icon-search {
	position: absolute;
	left: 24%;
	width: 13px;
	
	&.visible {
	opacity: 0.5;
	}
	
	&.invisible {
	opacity: 0;
}}

.icon-more {
	width: 10px;
}

.search {
	@include flex-v-center;
	text-align: center;
	padding: 1px 15px;
	background-color: $theme-background-color;
	border: $theme-border-line;
	opacity: 0.5;

	&:focus {
	text-align: left;
	opacity: 1;
	outline-width: 0; 
	background-color: transparent;
	}
}

input:focus::placeholder {
	color: transparent;
}

/* icon size */
/*
.icon-insta, .icon-search, .icon-explore, .icon-heart, .icon-profile, .feed-icons img {
	width: 16px;
	margin: 0 8px;
}
*/
/*
img {
	width: 16px;
	margin: 0 8px;
}
*/

.icon-insta {
	width: 23px;
}

.nav-right {
	img {
		width: 16px;
		margin: 0 8px;
	}
}

.author-icon-profile {
	width: 22px;
	margin: 0 8px;
}

.feed-icons, .author-more {
	img {
		width: 16px;
		margin: 0 3px;
	}
}

.user-icon {
	width: 16px;
	margin: 0 8px;
}



/*
img {
	width: 20px;
	margin: 0 8px;
}
*/
img.photo {
	width: 400px;
	height: 400px;
	margin: 0;
	max-width: 100%;
	min-width: 400px;
	flex-shrink: 0;
}

.main-feeds  {
	@include flex-h-center;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.feeds {
	@include flex-vh-center;
	margin: 0 10px;
}



article {
	@include flex-direction-column;
	align-items: space-between;
	
	border: 1px solid rgb(230, 230, 230);
	margin-top: 30px;
	margin: auto;
	background-color: white;
}

.article-header {
	@include flex-v-center;
	justify-content: space-between;	
	background-color: white;
	padding: 10px 5px;
}

.author-profile {
	@include flex-v-center;
}

.author-profile-icon {
	left: 2px;
}

.author-info {
	@include flex-v-center;
	flex-direction: column;
	left: 40px;
	margin: 0 2px;
}


#author-id {
	left: 10px;
	margin: 0;
	padding: 0;
	font-size: $font-size-id;
	font-weight: bold;
}

#author-location {
	left: 10px;
	margin: 0;
	padding: 0;
	font-size: $font-size-underId;
}

.frame {
	display: flex;
}

.feed-icons {
	@include flex-v-center;
	justify-content: space-between;
	margin: 7px;
}

.feed-icons-left, .feed-icons-right {
	@include flex-v-center;
}

.likeby {
	@include flex-v-center;
}
#user-id-likeby {
	font-weight: bold;
	font-size: $font-size-id;
}

#text-likeby {
	font-size: $font-size-id;
}

.feed-content, .comment {
	@include flex-direction-column;
	margin: 0 7px;
}

.feed-content span, .comment-first span, .comment-second span {
	font-size: $font-size-content;
}

span#author-id, span#comment-first-id, span#comment-second-id {
	font-weight: bold;
}

.show-more {
	font-size: 10px;
	color: grey;
}

#time-stamp {
	font-size: $font-size-underId;
	color: grey;
}

.new-comment {
	display: flex;
	justify-content: space-between;	
	border-top: $theme-border-line;
	padding: 7px 7px;
	margin: 5px 0 0 0;
}

#new-comment-input {
	border: 0;
	font-size: $font-size-content;
	width: 80%;	
}


#post-btn {
	color: $theme-color;
	right: 0;
	background-color: white;
	font-size: $font-size-content;
	border: 0;
	
	&:disabled {
		opacity: 0.5;
	}
}

.main-right {
	@include flex-direction-column;
	margin: 0 20px 0 0;
	max-width: 250px;
}

@media screen and (max-width: 630px) {
	.main-right {
		display: none;
	}	
}

.login-user-header {
	@include flex-v-center;
	padding: 10px 0 6px 5px;
}

.login-user-profile {
	@include flex-v-center;
}

#login-profile-icon {
	left: 2px;
	width: 25px;
}

.login-user-info {
	@include flex-v-center;
	flex-direction: column;
	left: 40px;
	margin: 0 2px;
}

#login-user-id {
	left: 10px;
	margin: 0;
	padding: 0;
	font-size: $font-size-id;
	font-weight: bold;
}

#login-user-location {
	left: 10px;
	margin: 0;
	padding: 0;
	font-size: $font-size-underId;
}

.main-right-container {
	@include flex-direction-column;
	justify-content: space-between;
	background-color: white;
	border: $theme-border-line;
	margin: 5px 10px;
	padding: 0 0 8px 0;
}


.header-title {
	display: flex;
	justify-content: space-between;
	font-size: $font-size-header;
	padding: 0 14px;	
}

.header-title {
	p:nth-child(1) {
	color: grey; 
}
}

.header-title {
	p:nth-child(2) {
	font-weight: bold;
}
}

.story-user-profile, .rf-profile {
	max-width: 100%;
	margin: 0;
}

.user-id {
	font-weight: bold;
}

.user-update {
	color: grey;
}

.story-content, .recommend-content {
	@include flex-direction-column;
	background-color: white;
	margin: 0 10px 0 0;
}

.story-user, .recommend-user-left {
	@include flex-v-center;
	margin: 3px 0;
}

.recommend-user {
	@include flex-v-center;
	justify-content: space-between;
}

.story-user-info, .rf-user-info {
	@include flex-direction-column;
	margin: 0;
}

.story-user-info p, .rf-user-info p {
	font-size: $font-size-id;
	margin: 0;
	text-align: center;
}

.recommend-user-right {
	@include flex-direction-column;
}

.follow {
	color: $theme-color;
	font-size: $font-size-content;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

.company-info {
	@include flex-direction-column;
	padding: 0 0 0 13px;
}

.company-info p {
	max-width: 90%;
	font-size: $font-size-content;
	color: grey;
}