$theme-background-color: rgba(249, 247, 247, 0.872);
$theme-border-line: 1px solid rgb(234, 230, 230);
$tooltip-shadow: 0 0 2px 0 lightgrey
;

.tooltip-container {
  position: relative;
}

.tooltip-box {
	background-color: white;
  position: absolute;
  border-radius: 5px;
	right: 10px;
  display: none;
}

.tooltip-box.visible {
	display: flex;
	flex-direction: column;
	box-shadow: $tooltip-shadow;
}

.tooltip-arrow {
  position: absolute;
  top: -10px;
  right: 8%;
  border-width: 5px;
	box-shadow: $tooltip-shadow;
}

.tooltip-profile, .tooltip-save, .tooltip-setting, .tooltip-logout {
	display: flex;
	margin: 15px 10px;
}

.tooltip-box {
	span {
		font-size: 12px;
		width: 150px;
	}
}

.tooltip-bottom {
	border-top: $theme-border-line;
	margin: 0 8px;
}