nav{
    display : flex;
    justify-content: space-around;
    background-color : #ffffff;
    padding : 10px 0;
}
.logo-title{
    display : flex;
    align-items: center;
}
.logo-title img{
    margin-right : 10px;
}
.logo-title h1{
    font-family: 'Lobster', cursive;
    padding-left : 10px;
    border-left : 1px solid black;
    margin : 0;
}
.search{
    display : flex;
    align-items: center;
}